@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Montserrat:wght@700&display=swap');
/*League Spartan , Montserrat*/

.bgimg{
    background-image: url('../assets/background.png');
    background-color: rebeccapurple;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.bgimg h1{
    font-size: 8rem;
    font-family: League Spartan , sans-serif;
}

.bgimg h3,h4
{
    color: rgb(83, 115, 19);
    font-family: Montserrat;
    /* text-shadow: 4px 2px 9px rgba(255, 255, 255, 0.68); */
}

.bgimg h3{
    font-size: 2rem;
    font-weight: bolder;
}

.bgimg h4{
    font-size: 1.5rem;
}


.texts{
    padding: 8rem;
}