@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Montserrat:wght@700&display=swap');
/*League Spartan , Montserrat*/

.buyer {
    text-align: center;
    padding: 2rem;
}

.buyer h1 {
    font-family: League Spartan, sans-serif;
    font-size: 3.5rem;
}

.buyer a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}