@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Montserrat:wght@700&display=swap');
/*League Spartan , Montserrat*/

.bgimg {
    background-image: url('../../assets/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    width: 100%;
}

.bgimg h1 {
    font-size: 8rem;
    font-family: League Spartan, sans-serif;
}

.bgimg h3,
h4 {
    color: rgb(87, 35, 11);
    font-family: Montserrat;
    text-shadow: -2px -2px 6px rgba(255, 255, 255, 0.582),
        2px 2px 6px rgba(255, 255, 255, 0.582);
}

.bgimg h3 {
    font-size: 2rem;
    font-weight: bolder;
}

.bgimg h4 {
    padding-top: 2px;
    font-size: 1.5rem;
}


.texts {
    padding: 8rem;
}