@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Montserrat:wght@700&display=swap');

.login{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.login h1{
    margin: 2rem;
}

.formGroup{
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.formGroup label{
    margin-right: 4.5rem;
}

.formGroup input
{
    padding: 0px 15px;
}