@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Montserrat:wght@700&display=swap');

.signUp{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.signUp h1{
    margin: 2rem;
}

.form-Group{
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-Group label{
    margin-right: 4.5rem;
}

.form-Group input
{
    padding: 0px 15px;
}